<div class="d-flex justify-content-center">

    <form action="/">

        <button class="btn btn-primary" type="submit"><i class="fa fa-home"></i>Home</button>

    </form>

</div>


<div class="container-fluid" border-style="inset">

    <div class="row">

        <div class="col bg-secondary"><p></p></div>

        <div class="col bg-secondary"></div>

        <div class="col bg-secondary"></div>

    </div>

</div>



<div class="container ">

    <div class="row">

        <div class="col text-wrap">

            <span><strong>Address:</strong></span>

            <h6 class="align-top"> No 18, 1st cross, Byrasandra, Bengaluru 560093</h6>

            <span><strong>E-mail:</strong></span>

            <h6><a href="mailto: sukhithtechnologies@gmail.com"><u>sukhithtechnologies@gmail.com</u></a></h6>

        </div>

        <div class="col text-wrap">

            All Copy Rights are with Sukhith Technologies

        </div>

        <div class="col text-wrap">

            <span class="align-top"><strong>Main Pages:</strong></span>

            <strong>

                <h6><a href="/"><u>Home</u></a></h6>

                <h6><a href="/clidetail"><u>Clients</u></a></h6>

                <h6><a href="/registration_view"><u>Register</u></a></h6>

            </strong>

        </div>

        <div class="col text-wrap">

            <span class="align-top"><strong>Services:</strong></span>

            <h6><a href="/automo"><u>Automobile</u></a></h6>

            <h6><a href="/indauto"><u>Industrial Automation</u></a></h6>

            <h6><a href="/webser"><u>Website Design</u></a></h6>

            <h6><a href="/mobser"><u>Mobile App</u></a></h6>

        </div>


    </div>

</div>

