{% extends 'base.html' %}


{% block content %}


<p  id="pageIAHWS1">

 <div class ="container-fluid pt-3 border bg-light text-dark" >

 <div class="content-section">

    <form method="POST" >

        {% csrf_token %}

        <fieldset class="form-group" >

            <legend class="border-bottom mb-4" id="marbotFix2"><h4>Login</h4></legend>

            {{form}}

        </fieldset>

        <div class="form-group">

            <button class="btn btn-outline-info" type="submit">Login</button>

        </div>

    </form>

    <div class="border-top pt-3">

        <small class="text-muted">

            Have No Account? <a class="ml-2" href="registration_view">Register</a>

        </small>

        <small class="text-muted">

            Forgot Password? <a class="ml-2" href="{% url 'password_reset' %}">ForgotPassword</a>

        </small>

    </div>

  </div>

</div>

</p>

{% endblock content %}
