{% extends 'base.html' %}

{% load static%}

{% block content %}



<p id="pageIAHWS1">

<div class="container-fluid pt-3 border bg-light text-dark">



    <div class="border-bottom mb-4"><i class="fa fa-office"></i><h4>Customer Projects</h4></div>


    <div id="Defence">

       <div class="border-bottom mb-4">

        <h4 class="marbotFix2">Process Automation support for a <strong>defence organization</strong></h4>

        <ul><br>

            <li>Automated manual process by precisely controlling five servo motors through software</li>


            <li>The complete project is executed using ABB's PLC, Controller and servo drives. designed and implemented

                software

            </li>


            <li>Block functional diagram and structured Text languages are used to program PLC</li>


            <li>Servo motors are controlled using drives by programming in Mint language</li>


            <li>Designed conveyor system</li>


            <li>Used Modbus over RS485 and ethernet for communicating between motor, controller and HMI. EPL for connecting drives & controller

            </li>


            <li>Designed GUI for controlling remotely</li>

        </ul>

    </div>

        </div>

           <div class="border-bottom mb-4">

    <div id="TwoWFJ">

        <h4 class="marbotFix2">System level ISO 26262 compliance analysis for a two-wheeler ECU manufacturer from

            Japan</h4><br>


            <h6>System level functional safety (ISO 26262) compliance analysis and gap identification</h6>

             <ul>

                <li>Creating of system architecture</li>

                <li>Creation FSRS document</li>

                <li>Creation of FMEA document</li>

                <li>Creation of TP and TR documents</li>

                </ul>


        <h6>Analysis of supply voltage fluctuation and its effects on the system</h6>

            <ul>

                <li>Analyse the effect on the system when ECU voltage overshoots/very low</li>

                <li>Also considered the excitation voltage fluctuations of sensors, actuators etc.,</li>

        </ul>

    </div>

               </div>

</div>

</div>

{% endblock %}
