{% extends 'base.html' %}

{% load static %}

{% block content %}


<div id = "pageIAHWS1">



    <div class="d-flex in-line text-dark ">


        <div class="d-flex justify-content-center ">


            <div class="card mt-4 border-0">

                <img class="shadow p-3 mb-2 bg-white rounded" alt = "Avatar" src = "{% static 'images/manavalanphoto.jpg' %}" style="width:100%">

                <p class="text-center"> Propreitor </p>

            </div>

        </div>

        <div class="container-sm p-3 m-3 bg-white text-dark " >

             <h4 class="marbotFix2"><b>Manavalan Ganesh</b></h4>

               <ul class="shadow p-3 mb-3 bg-white rounded">Over 30 years of working experience and design and development of real-time embedded systems

                   <li class="ml-3">Worked for HAL in design and development avionics real-time systems.</li>

                   <li class="ml-3">Worked for Gemplus the French company in design and development of smart cards card readers </li>

                   <li class="ml-3">Worked for Bosch in design and development of embedded real-time systems in Automotive and industrial automation domains for almost 20 years</li>

               </ul>


        </div>


    </div>



    <div class="d-flex in-line text-dark border-dark ">


        <div class="d-flex justify-content-left ">


            <div class="card mt-4 border-0">

                <img class="shadow p-3 mb-2 bg-white rounded" alt="Avatar" src="{% static 'images/shanthkumar.jpg'%}" style="width:100%">

                <p class="text-center">Senior Consultant</p>

            </div>

        </div>

        <div class="container-sm p-3 m-3 bg-white text-dark ">

            <h4 class="marbotFix2"><b>Ganesh Shanthkumar</b></h4>

            <ul class="shadow p-3 mb-3 bg-white rounded"> Has more than 35 years of experience in HMT.

               <li class="ml-3">Worked on CNC machine design</li>

                <li class="ml-3">Worked on sales and servicing and commissioning  of CNC machines</li>

                <li class="ml-3">CAM design, troubleshooting of sliding headstock automates</li>

                <li class="ml-3">Retrofitting both manual and automated CNC machines</li>

            </ul>

        </div>


    </div>


    <div class="d-flex in-line text-dark border-dark ">


        <div class="d-flex justify-content-left ">


            <div class="card mt-4 border-0">


                <img class="shadow p-3 mb-2 bg-white rounded" alt="Avatar" src="{% static 'images/sudnew.jpg'%}" style="width:100%">

                <p class="text-center">Programmer</p>


            </div>

        </div>

        <div class="container-sm p-3 m-3 bg-white text-dark " >

            <h4 class="marbotFix2"><b>Sudarshan M</b></h4>

            <ul class="shadow p-3 mb-3 bg-white rounded"> Is pursuing B Tech in computer science

                <li class="ml-3">Possess very good programming knowledge, experience in C++, C and Java programming</li>

                <li class="ml-3"> Executed projects on AI/ML</li>

                <li class="ml-3"> Executed projects on website design</li>


            </ul>

        </div>


    </div>

</div>



{% endblock %}
