{% extends 'base.html' %}

{% load static %}


{% block content %}


<p id="pageIAHWS1">

<div class="container-fluid pt-3 border bg-light text-dark">

     <div class="float-right">

        <img alt="Avatar" height="400" src="{% static 'images/phone.jpg'%}" width="500">

    </div>

    <div class="border-bottom mb-4 "><h4>Contact Us</h4></div>

    <div class="shadow-sm p-3 mb-2 bg-white rounded" >

        <div id="e-mail">

            <h2 class="marbotFix2"><i class="fa fa-envelope"></i><u>Electronic mail</u></h2>

            <p>Please contact us at the following e-mail address :</p>

            <a href="mailto: sukhithtechnologies@gmail.com">sukhithtechnologies@gmail.com</a>

        </div>

    </div>

    <div class="shadow-sm p-3 mb-2 bg-white rounded">

        <div id="Mob-phone">

            <h2 class="marbotFix2"><i class="fa fa-mobile"></i><u>Mobile Number</u></h2>

            <p>We are available at the following mobile number:</p>

            <p>+91 9591155711</p>

        </div>

    </div>



    <div class="shadow-sm  p-3 mb-2 bg-white rounded" id="Chat">

        <h2 class="marbotFix2"><i class="fa fa-comment-o"></i><u>Chat</u></h2>

        <p>Click on the link below to chat with our executive live:</p>

        <p><a href="#">Chat</a></p>

    </div>

</div>


{% endblock %}

